<!-- header -->

<div class="row">
    <div class="mt-3 mx-auto">
        <span (click)="loaded = !loaded">
            <a class="an-text-secondary" (click)="loadComments()" href="javascript:void(0)" *ngIf="!loaded">
                🡣 Comments ({{commentsInfo.amount}}) 🡣
            </a>
            <a class="an-text-secondary" (click)="visible = !visible"href="javascript:void(0)" *ngIf="loaded">
                🡡 Hide comments 🡡
            </a>
        </span>
    </div>
</div>

<div *ngIf="visible">
    <h4>Comments</h4>

<span *ngIf="commentsInfo.amount === 0" class="text-muted">
    Nobody wrote nothing. Be the first commenter!
</span>

    <!-- comments loop -->
    <div class="card mt-3 p-2" *ngFor="let comment of comments">
        <a class="an-text-secondary" [routerLink]="['/authors/', comment.author.id]">
            {{comment.author.displayName}}
        </a>
        <span class="text-muted"> at {{comment.created | date: 'dd LLLL yyyy, HH:MM'}}</span>
        <div>
            {{comment.contents}}
        </div>
    </div>

    <!-- comment add -->
    <div class="mt-3">
        <comment-add [commentsInfo] = commentsInfo [comments] = comments></comment-add>
    </div>



    <!-- show / hide  -->

</div>